<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>制造物联中间件系统</title>
</head>
<body class="easyui-layout">
<!-- North Title -->
<div class="divNorth" style="height:100px;" data-options="region:'north'" >
    <table id="_TableHeader" width="100%" border="0" cellpadding="0"
           cellspacing="0" class="bluebg">
        <tbody>
        <tr>
            <td valign="top">
                <div style="position:relative;">
                    <div style="text-align:right;font-size:15px;margin:2px 0 0 0;">
							<span style="display:inline-block;font-size:20px;color:#c1dff7;margin:0 0 8px 0;">
								计算机科学与技术学院
							</span><br/>

                        <span style="color:#c1dff7;">${activeUser.rolename}:</span>
                        <span style="color:#c1dff7;">
								${activeUser.username}
							</span>
                        &nbsp;<a href="logout" style="text-decoration:none;color:#A9C3D6;"> 退出</a>&nbsp;  &nbsp;
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>